.Button{
    cursor: pointer;

    background-color: #2e2e2e;
    padding: 5px 10px;
    border-radius: 8px;
}
.Button:hover{
    background-color: #292929
}
.Button:active{
    background-color: #2e2e2e
}

.LoginButton{
    background-color: #1c56f7;
}
.LoginButton:hover{
    background-color: #2f1ae7;
}
.LoginButton:active{
    background-color: #1c56f7;
}

.FormSubmitButton{
    background-color: #d79505;
}
.FormSubmitButton:hover{
    background-color: #ffb005;
}
.FormSubmitButton:active{
    background-color: #da9604;
}

.Button-Green{
    background-color: #58F455;
}
.Button-Green:hover{
    background-color: #58F455;
}
.Button-Green:active{
    background-color: #58F455;
}

.Button-Red{
    background-color: #F34B4B;
}
.Button-Red:hover{
    background-color: #F34B4B;
}
.Button-Red:active{
    background-color: #F34B4B;
}