.LoginForm{
    /* font */
    font-size:1.5em;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
    /* position */
    position: absolute;
    top: 30%;
    left: 40%;

    padding:4%;

    /* borders */
    /* border: 1px solid #ffffff; */
    border-radius: 14px;

    text-align: center;
    background-color: #0F2349;

}
.underFieldText{
    font-size:0.6em;
    margin:1% 0 0 3%;
    text-align: left;
    color: #0bcdef;
}
.underFieldText:hover{
    cursor: pointer;
    color: #FF961C;
}

.form-title{
    font-size: 2em;
    font-weight: 600;
}
.form-error{
    font-weight: 400;
    color: rgb(248, 21, 21);
}