.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.reletive{
    position: relative;
}
.center{
    text-align: center;
}
.divcenter{
    text-align: -webkit-center;
}
.align-none{
    text-align: none;
}
.left{
    text-align: left;
}
.fright{
    float: right;
}
.fleft{
    float: left;
}
.mreset{
    margin:0;
}
.preset{
    padding:0;
}
.flex{
    display: flex;
}
.justify-space-between{
    justify-content: space-between;
}
.flex-hv-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-Absolute-Shadow{
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.201);
    position:absolute;
    left:0;
    top:0;
}

/* Fonts */
.f-black{
    color:#000000;
}
.f-br{
    color:#ECDBBA;
}

.width-100{
    width: 100%;
}
.width-25{
    width: 25%;
}

.hover-pointer:hover{
    cursor: pointer;
}